{% extends 'base.html' %}

{% block title %}
FAQ's
{% endblock %}

{% block content %}
<div class="container faqs">
	<h1>Preguntas Frequentes</h1>

	<h3>¿Mi información está segura?</h3>
	<p>Sí. Nos tomamos muy en serio tu información personal y nunca compartiremos su dirección de correo electrónico. Usamos <a href="https://stripe.com/">Stripe</a> como plataforma de pago, por lo que no almacenamos la información de su tarjeta de crédito.</p>

	<h3>Si reservo un dominio, ¿se me cobraran los 75€ al instante o solo se me cobrará si obtengo el dominio?</h3>
	<p>Solo se le cobra si obtiene el dominio.</p>

	<h3>¿Qué pasa si consigo el dominio que he reservado?</h3>
	<p>Se cargará el importe a su tarjeta de crédito y luego podrá iniciar sesión para configurar la información de contacto de WHOIS para el dominio u obtener el código de autorización de transferencia de dominio.</p>

	<h3>La moneda de mi país no es el euro, ¿puedo pagar de todas formas?</h3>
	<p>Sí. Se cargará el importe equivalente a su tarjeta de crédito.</p>

	<h3>¿Puedo cancelar una reserva?</h3>
	<p>Sí. Puede cancelar un pedido siempre que sea antes de la fecha en que expira el dominio.</p>
</div>
{% endblock %}