{% extends 'base.html' %}

{% block title %}
Norda
{% endblock %}

{% block content %}
<div class="container">
	<div class="jumbotron jumbotron-fluid">
  		<div class="container">
    		<h1 class="display-4">Reserve su dominio fácilmente.</h1>
    		<p class="lead">Reserve dominios TLD por solo 75€.</p>
  		</div>
  	</div>

  	<div class="row">
	  	<div class="domains-available col-sm-12 text-center">
	    	<h5>EXTENSIONES DISPONIBLES</h5>
	      	<ul>
	            <li><a href="/domains">.io</a></li>
	            <li><a href="#">.co</a></li>
	            <li><a href="#">.to</a></li>
	            <li><a href="#">.ly</a></li>
	            <li><a href="#">.vc</a></li>
	            <li><a href="#">.me</a></li>
	            <li><a href="#">.sh</a></li>
	            <li><a href="#">.gg</a></li>
	            <li><a href="#">.bz</a></li>
	            <li><a href="#">.pro</a></li>
	            <li><a href="#">.info</a></li>
	            <li><a href="#">.org</a></li>
	            <li><a href="#">.sc</a></li>
	            <li><a href="#">.ac</a></li>
	            <li><a href="#">.je</a></li>
	            <li><a href="#">.ag</a></li>
	            <li><a href="#">.lc</a></li>
	            <li><a href="#">.mn</a></li>
	            <li><a href="#">.red</a></li>
	      	</ul>
	    </div>
  	</div>

  	<div>
  		<h5 class="text-center">COMO FUNCIONA</h5>
  		<p class="text-center">Explore los dominios que están a punto de expirar, encuentra el que desea y resérvelo. Solo se le cobrará si conseguimos el dominio.</p>
  	</div>

  	<div class="row">
  		<div class="col-sm-6">
  			<div class="card card-domains">
				<div class="card-body">
					<a href="#">nordomain.cat</a>
				</div>
			</div>
  		</div>

  		<div class="col-sm-6">
  			<div class="card card-domains">
				<div class="card-body">
					<a href="#">norda.io</a>
				</div>
			</div>
  		</div>
  	</div>
</div>
{% endblock %}